<!-- Learn Menu -->
<div class="custom-menu-wrapper" style="display: none">
    <div class="row gutters-tiny h-100">
        <div class="col-lg-3 h-100 border-right">
            <div class="asyncPartial h-100" data-url="/common/sidebarbranchesdesktop"></div>
        </div>
        <div class="col-lg-3 h-100 border-right" id="sidebarCatMenuWrapperParent" style="display: none">
            <div id="sidebarCatMenuWrapper" class="h-100 bg-gray-lighter">
                <div class="input-group p-15">
                    <input type="text" id="sidebarInputSearchCatMenu" class="form-control" placeholder="Tìm...">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <div id="sidebarCatList"></div>
                <div class="cat-menu-skeleton">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="min-height-20 bg-gray"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 h-100" id="sidebarCourseMenuWrapperParent" style="display: none">
            <div id="sidebarCourseMenuWrapper" class="h-100 bg-gray-lighter">
                <div class="input-group p-15">
                    <input type="text" id="sidebarInputSearchCourseMenu" class="form-control" placeholder="Tìm...">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
                <div id="sidebarCourseList"></div>
                <div class="course-menu-skeleton">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="media">
                                <div class="w-150px min-height-100 bg-gray mr-3"></div>
                                <div class="media-body">
                                    <div class="min-height-20 bg-gray mb-10"></div>
                                    <div class="clearfix">
                                        <div class="min-height-20 w-25 bg-gray mr-10 float-left"></div>
                                        <div class="min-height-20 w-25 bg-gray float-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="media">
                                <div class="w-150px min-height-100 bg-gray mr-3"></div>
                                <div class="media-body">
                                    <div class="min-height-20 bg-gray mb-10"></div>
                                    <div class="clearfix">
                                        <div class="min-height-20 w-25 bg-gray mr-10 float-left"></div>
                                        <div class="min-height-20 w-25 bg-gray float-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="media">
                                <div class="w-150px min-height-100 bg-gray mr-3"></div>
                                <div class="media-body">
                                    <div class="min-height-20 bg-gray mb-10"></div>
                                    <div class="clearfix">
                                        <div class="min-height-20 w-25 bg-gray mr-10 float-left"></div>
                                        <div class="min-height-20 w-25 bg-gray float-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item list-group-item-action border-0">
                            <div class="media">
                                <div class="w-150px min-height-100 bg-gray mr-3"></div>
                                <div class="media-body">
                                    <div class="min-height-20 bg-gray mb-10"></div>
                                    <div class="clearfix">
                                        <div class="min-height-20 w-25 bg-gray mr-10 float-left"></div>
                                        <div class="min-height-20 w-25 bg-gray float-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none" id="sidebarCourseMenuWrapperCache"></div>
        </div>
    </div>
</div>

<!-- END Learn Menu -->