
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Home</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a asp-controller="homeadmin" asp-action="index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert" style="margin: auto;">
        <div class="m-alert__text">
            <h2><b>B2T Medical Center</b></h2>
        </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <img src="~/admin/Content/cssAdmin/app/media/img/users/bg-admin3.jpg" height="370px" width="1200px" />
    </div>
</div>

