
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model forum.Models.Specialize


<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Update Specialize</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a asp-controller="homeadmin" asp-action="index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>

                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__item">
                    <a asp-controller="homeadmin" asp-action="specialize" class="m-nav__link">
                        <i class="m-menu__link-icon flaticon-menu-2"></i>
                    </a>
                </li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__separator"></li>
                <li class="m-nav__item">
                    <a asp-controller="homeadmin" asp-action="updatespecialize" class="m-nav__link">
                        <i class="m-nav__link-icon la la-wrench"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </div>
</div>


<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Update Specialize
                    </h3>
                </div>
            </div>
        </div>

        <!--begin::Form-->
        <form data-ajax-method="POST"
              data-ajax-begin="onBegin"
              data-ajax-complete="onComplete" asp-controller="homeadmin" asp-action="updatespecialize" data-ajax="true">
            <div class="m-portlet__body">

                <div class="form-group m-form__group">
                    <label asp-for="@Model.SpecializeName">Specialize Name</label>
                    <input class="form-control m-input m-input--air m-input--pill" placeholder="SpecializeName" asp-for="SpecializeName" />
                    <span asp-validation-for="SpecializeName" class="text-danger"></span>
                </div>
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        <label>Description</label>
                        <textarea id="content" class="form-control form-control-lg ckeditor" asp-for="Description" placeholder="Description" rows="4">
                                       </textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                    @Html.HiddenFor(model => model.Id)
                    <button type="submit" class="btn btn-brand">SAVE</button>
                    <button type="reset" class="btn btn-secondary">CANCEL</button>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

</div>

