<footer id="page-footer" class="mt-30">
    <div class="content">
        <div class="page-content">
            <div class="mb-20">
                <a href="/">
                    <img class="img-fluid" src="~/Content/images/logo/kteam_Purple _100x46.png" width="100" height="46">
                </a>
            </div>
            <div class="row">
                
            </div>

            <hr>
            <div class="mb-10">
                <span>HowTryteam &copy; 2021</span>

            </div>
        </div>
    </div>

    <a href="#" onclick="Kteam.scrollToPosition(0); return false;" class="btn-scrollTop btn btn-primary btn-noborder btn-circle"><i class="fas fa-chevron-up"></i></a>

    <form action="/documentation" id="__AjaxAntiForgeryForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="PRNcU_Ubwpr6-0NZkAM6C0SAXEidVrM3W75hwlZioC0ZE7NaNcVpp-xepPEpQKwO4oOxfuL2eNRsPgT3Mo0mnrsW3JMucps_2hHkNVL292M1" /></form>
</footer>