<!-- Main Container -->
<main id="main-container">




    <!-- Hero -->
    <div class="bg-image" style="background-image: url('/Content/images/banner/code.jpeg');">
        <div class="bg-black-op">
            <div class="content">
                <div class="py-50 mt-20">
                    <div class="d-lg-flex justify-content-between align-items-center">
                        <div>
                            <h1 class="h3 text-white font-w700 mb-10">Tài liệu</h1>
                            <h2 class="h5 text-white-op font-w400">Kho tài liệu và bài viết được chia sẻ, đánh giá bởi cộng đồng</h2>
                        </div>
                        <div>
                            <a href="/documentation/create" class="btn btn-primary"><i class="fas fa-pencil-alt fa-fw"></i> Tạo tài liệu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <div class="fixed-social-left d-none d-xl-block">


        <button class="btnShareFb btn btn-primary btn-noborder btn-circle d-block mb-5" data-url="https://www.howkteam.vn/d/bai-toan-chuyen-doi-dayofweek-ve-string-487" data-title="B&#224;i to&#225;n chuyển đổi DayOfWeek về string." data-description="" data-image=""
                data-toggle="tooltip" data-placement="right" data-original-title="Chia sẻ lên facebook">
            <i class="fab fa-facebook-f fa-fw"></i>
        </button>



        <span class="bookmark-desktop">
            <div class="btn btn-circle btn-secondary text-secondary bookmark-"
                 onclick="Kteam.saveBookmark('', '0', '/bookmark/create'); return false;"
                 data-toggle="tooltip" data-placement="right" data-original-title="Lưu bài viết">
                <i class="far fa-bookmark fa-fw"></i>
            </div>

        </span>
    </div>

    <div class="content">
        <!-- Breadcrumb -->
        <nav class="breadcrumb bg-white mb-30">
            <a class="breadcrumb-item" href="/"><i class="fas fa-home"></i></a>
            <a class="breadcrumb-item" href="/documentation">Tài liệu</a>
            <span class="breadcrumb-item active">B&#224;i to&#225;n chuyển đổi DayOfWeek về string.</span>
        </nav>
        <!-- END Breadcrumb -->

        <div class="row">
            <div class="col-xl-9">
                <div class="block block-rounded block-fx-shadow" id="content-post-wrapper">
                    <div class="block-content block-content-full border-b clearfix">
                        <div class="mb-5">
                            <div class="media">
                                <div class="media-left pr-15">
                                    <div class="asyncPartial" data-url="/documentation/docvotecontainer/487">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h1 class="mb-10 font-size-h2">
                                        B&#224;i to&#225;n chuyển đổi DayOfWeek về string.
                                        <span class="text-danger"></span>
                                    </h1>
                                    <div class="text-muted">
                                        <span class="mr-15">
                                            <a href="/users/dbd7c310-e904-4214-9dc0-721a1b6cfe20">
                                                <img src="https://res.cloudinary.com/howkteam/image/upload/c_fill,g_face,h_120,w_120/v1564112653/avatar_user/yy4cljjfez3wwtdlmtkl.jpg" class="avatar-xs mr-5 d-inline">
                                                <span>Cu Xin</span>
                                            </a>
                                            <span>
                                                đã tạo <span class="format-time font-w600" title="2021-06-11 22:56:05">22:56 11-06-2021</span>
                                            </span>
                                        </span>
                                        <span class="mr-15 mt-5 d-block d-md-inline">
                                            Hoạt động
                                            <span class="format-time font-w600" title="2021-06-11 22:58:42">22:58 11-06-2021</span>
                                        </span>
                                        <span class="mr-15 mt-5 d-block d-md-inline">
                                            <i class="far fa-fw fa-eye mr-5"></i><span class="font-w600">38</span> lượt xem
                                        </span>
                                        <span class="mr-15 mt-5 d-block d-md-inline">
                                            <i class="far fa-fw fa-comment mr-5"></i><span class="font-w600">0</span> bình luận
                                        </span>
                                    </div>
                                    <div class="mt-10 d-flex justify-content-between">
                                        <div>

                                            <a href="/tags/c-3" class="post-tag">c#</a>

                                        </div>
                                        <div>
                                            <div class="dropdown d-inline-block">
                                                <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-fw fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/documentation/improve/487"><i class="fas fa-pencil-alt fa-fw"></i> Cải thiện bài viết</a>
                                                    <a class="dropdown-item text-danger report-discuss" href="#" onclick="Kteam.createReport(487, 'Document'); return false;">
                                                        <i class="far fa-flag fa-fw"></i> Báo cáo
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-10 d-block d-xl-none">

                                        <button class="btnShareFb btn btn-primary btn-noborder btn-circle mr-5" data-url="https://www.howkteam.vn/d/bai-toan-chuyen-doi-dayofweek-ve-string-487" data-title="B&#224;i to&#225;n chuyển đổi DayOfWeek về string." data-description="" data-image=""
                                                data-toggle="tooltip" data-placement="right" data-original-title="Chia sẻ lên facebook">
                                            <i class="fab fa-facebook-f fa-fw"></i>
                                        </button>

                                        <span class="bookmark-mobile"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="row">
                            <div class="col-lg-9 order-1">
                                <div class="d-block d-lg-none">
                                    <p class="font-size-h5 font-w600 mb-5">
                                        Nội dung bài viết
                                    </p>
                                    <div class="document-outline">

                                    </div>
                                </div>
                                <div id="content-post" class="content-post">


                                    <p>Bình thường</p>
                                    <pre><code class="language-cs">&nbsp; &nbsp; &nbsp; &nbsp; public static string ToDayOfWeekText(DayOfWeek day)
&nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; switch (day)
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Monday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Hai&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Tuesday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Ba&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Wednesday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Tư&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Thursday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Năm&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Friday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Sáu&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; case DayOfWeek.Saturday:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Thứ Bảy&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; default:
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; return &quot;Chủ nhật&quot;;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }
&nbsp; &nbsp; &nbsp; &nbsp; }</code></pre>
                                    <p>Có tính toán</p>
                                    <pre><code class="language-cs">        public static string ToDayOfWeekText(DayOfWeek day)
        {
            string[] dayOfWeeks = { &quot;Chủ nhật&quot;, &quot;Thứ Hai&quot;, &quot;Thứ Ba&quot;, &quot;Thứ Tư&quot;, &quot;Thứ Năm&quot;, &quot;Thứ 6&quot;, &quot;Thứ Bảy&quot;, &quot;Chủ Nhật&quot; };
            return dayOfWeeks[(int)day];
        }</code></pre>
                                    <p>Best</p>
                                    <pre><code class="language-cs">        public static string ToDayOfWeekText(DayOfWeek day)
        {
            if (day == DayOfWeek.Sunday)
                return &quot;Chủ Nhật&quot;;
            return $&quot;Thứ {(int)day&#43;1}&quot;;
        }</code></pre>
                                    <p>:D Fun thôi nha.</p>



                                </div>
                            </div>
                            <div class="col-lg-3 order-2">
                                <div class="d-none d-lg-block" id="document-outline-desktop">
                                    <p class="font-size-h5 font-w600 mb-5">
                                        Nội dung bài viết
                                    </p>
                                    <div class="document-outline">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="block block-rounded block-fx-shadow" id="comment-wrapper">
                    <div class="block-header">
                        <h3 class="block-title font-w600">Bình luận</h3>
                    </div>
                    <div class="block-content pt-0">
                        <div class="media">
                            <div class="media-left d-none d-sm-block pr-10">
                                <img class="media-object avatar" src="/Content/images/avatar/avatar.png" />
                            </div>
                            <div class="media-body">
                                <div class="text-center p-20 border">
                                    <p class="mb-10">Để bình luận, bạn cần đăng nhập bằng tài khoản Howkteam.</p>
                                    <a class="btn btn-primary btn-noborder btn-rounded" href="/account/login?ReturnUrl=%2Fd%2Fbai-toan-chuyen-doi-dayofweek-ve-string-487">Đăng nhập</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="block-content">
                        <div id="comment-list" class="mb-20">


                        </div>
                        <!-- END Discussion -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="asyncPartial" data-url="/users/sidebaruserprofile/dbd7c310-e904-4214-9dc0-721a1b6cfe20">
                </div>
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title font-w600">Câu hỏi mới nhất</h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="asyncPartial" data-url="/question/sidebarquestion?type=Newest">
                            <i class="fas fa-sync fa-spin fa-fw"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <input type="hidden" id="HistoryTargetId" value="487" />
        <input type="hidden" id="HistoryTargetType" value="Document" />
        <input type="hidden" id="HistoryAction" value="/history/create" />

        <!-- Discuss data -->
        <input type="hidden" id="DiscussTargetId" value="487" />
        <input type="hidden" id="DiscussTargetType" value="3" />
    </div>




</main>
<!-- END Main Container -->