<style>
    div#heroBg {
        background-image: url('/Content/images/banner/code.jpg');
    }
</style>

<!-- Hero -->
<div id="heroBg" class="bg-image">
    <div class="bg-black-op">
        <div class="content">
            <div class="py-50 mt-20">
                <div class="d-lg-flex justify-content-between align-items-center">
                    <div>
                        <h1 class="h3 text-white font-w700 mb-10">Document</h1>
                        <h2 class="h5 text-white-op font-w400"> A repository of documents and articles shared and evaluated by the community</h2>
                    </div>
                    <div>
                        <a asp-controller="home" asp-action="create" class="btn btn-primary"><i class="fas fa-pencil-alt fa-fw"></i> Create Document</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Hero -->