@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model forum.Models.Post;
<!-- Main Container -->
<main id="main-container">

    <!-- Hero -->
    <!-- END Hero -->

    <div class="content">
        <!-- Breadcrumb -->
        <nav class="breadcrumb bg-white mb-30">
            <a class="breadcrumb-item" href="/"><i class="fas fa-home"></i></a>
            <a class="breadcrumb-item" asp-controller="home" asp-action="index">Document</a>
            <span class="breadcrumb-item active">Create Document</span>
        </nav>
        <!-- END Breadcrumb -->
        <div class="row row-deck">
            <div class="col-xl-12">
                <div class="block block-rounded block-fx-shadow">
                    <div class="block-header block-header-default">
                        <h3 class="block-title font-w600"><i class="fas fa-pencil-alt fa-fw"></i> Create Document</h3>
                    </div>
                    <div class="block-content pb-20">


                        <form asp-controller="home" asp-action="create" method="post">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="PostName">Post name</label>
                                        <input class="form-control form-control-lg" placeholder="Name your post" type="text" value="@Model.PostName" asp-for="PostName" />
                                        <span asp-validation-for="PostName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Content</label>
                                        <textarea id="content" class="form-control form-control-lg ckeditor" asp-for="Content" placeholder="Content" rows="4" value="@Model.Content">
        </textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Topic">Topic</label>
                                        <input type="text" asp-for="TopicId" list="topicList" class="form-control form-control-lg" placeholder="Name topic">
                                        <span asp-validation-for="Topic" class="text-danger"></span>
                                        <datalist id="topicList">
                                            @foreach (var item in ViewBag.Topic)
                                            {
                                                <option value="@item.Id" />
                                                @item.TopicName

                                            }

                                        </datalist>
                                    </div>
                                </div>
                               

                                <div class="col-md-12">
                                    <div class="text-right">
                                        <a asp-controller="home" asp-action="create" class="btn btn-link">Cancel</a>

                                        <button type="submit" class="btn btn-primary min-width-100"><i class="fas fa-cloud-upload"></i> Post</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>
<!-- END Main Container -->